@import url('https://fonts.googleapis.com/css?family=Raleway');

:root, button{
    font-family: 'Inter', serif;
}

*{
    box-sizing: border-box;
}

.color{
    background: linear-gradient(to right, #e1e0ff, #d7fadd);
}

body{
    background: #191919;
    /* background: white; */
    user-select: none;
    letter-spacing: 0px;
    color: #fffdfd;

}

h1{
    padding-bottom: 1px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 50px;
}

p{
    padding-bottom: 10px;
    margin: 5vh;
}

p:last-of-type{
    padding-bottom: 0;
}

.try-again{
    cursor: pointer;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 39, 39);

}

.try-again:after{
    content: '';
    position: absolute;
    left: 15px;
    right: 15px;
    height: 2px;
    top: 100%;
    background: #ebebeb;
    margin-top: 8px;
    transition: all 0.3s ease;
}

.try-again:hover:after{
    left: 30%;
    right: 30%;
}

.wrapper{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    cursor: pointer;
    position: relative;
    z-index: 2;
    
    background: none;
    outline: none;
    border: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 2px;
    transition: all 0.5s ease;
    font-weight: 100;
    font-size: 19px;
    height: 60px;
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: 0 0 0 white, 0 0 0 white;
}

.button-text{
    display: inline-block;
    position: relative;
    z-index: 2;
    background: linear-gradient(to right, #ffffff, #4cfa63);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button-circle{
    position: absolute;
    left: 0;
    top: 0;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    box-shadow: 0 0 10px #fdfdfd, 0 0 20px #ffffff, 0 0 30px #fcfcfc;
    transition: all 0.5s ease;
    opacity: 0;
}

.button-circle2{
    top: auto;
    bottom: 0;
    opacity: 0;
}

.button-circle3{
    left: auto;
    right: 0;
    box-shadow: 0 0 10px #4cfa63, 0 0 20px #4cfa63, 0 0 30px #4cfa63;
    opacity: 0;
}

.button-circle4{
    left: auto;
    top: auto;
    bottom: 0;
    right: 0;
    box-shadow: 0 0 10px #4cfa63, 0 0 20px #4cfa63, 0 0 30px #4cfa63;
    opacity: 0;
}

.button:hover{
    box-shadow: -15px 0 70px -15px #504bff, 15px 0 70px -15px #4cfa63;
}

.button:hover .button-circle1{
    transform: translate(-15px, -15px) scale(0);
}

.button:hover .button-circle2{
    transform: translate(-15px, 15px) scale(0);
}

.button:hover .button-circle3{
    transform: translate(15px, -15px) scale(0);
}

.button:hover .button-circle4{
    transform: translate(15px, 15px) scale(0);
}

.button:hover .button-circle{
    box-shadow: none;
}

.popup{
    opacity: 0;
    visibility: hidden;
    height: 90vh;
    width: 90vh;
    flex-shrink: 0;
    border-radius: 3px;
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease
}

.popup-inside{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 0 black;
    transition:
            box-shadow 0.5s ease 0.7s,
            border-radius 0.35s ease 0.7s;
}

.backgrounds{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.background{
    --offset: 0;
    position: absolute;
    left: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    top: var(--offset);
    background: linear-gradient(to right, #504bff, #4cfa63);
    transform: scale(0);
    transition: all 0.5s ease 0s;
    border-radius: 50%;
}

.background2{
    --offset: 10%;
    position: absolute;
    left: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    top: var(--offset);
    background: linear-gradient(to right, #6665ff, #69fa7f);
    transform: scale(0);
    transition: all 0.5s ease 0.1s;
}

.background3{
    --offset: 20%;
    position: absolute;
    left: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    top: var(--offset);
    background: linear-gradient(to right, #8583ff, #85fa99);
    z-index: 2;
    transition: all 0.5s ease 0.2s;
}

.background4{
    --offset: 30%;
    position: absolute;
    left: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    top: var(--offset);
    background: linear-gradient(to right, #aaaaff, #a7fab7);
    z-index: 3;
    transition: all 0.5s ease 0.3s;
}

.background5{
    --offset: 40%;
    position: absolute;
    left: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    top: var(--offset);
    background: linear-gradient(to right, #c9c8ff, #c3fad1);
    z-index: 4;
    transition: all 0.5s ease 0.4s;
}

.background6{
    --offset: 40%;
    position: absolute;
    left: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    top: var(--offset);
    background: rgb(0, 0, 0);
    z-index: 5;
    transition: all 0.8s ease 0.4s;
}

.content{
    --offset: 5vh;
    position: absolute;
    left: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    top: var(--offset);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.35s ease 0.75s;
    z-index: 10;
}

.content-wrapper{
    text-align: center;
}

body.active .content{
    opacity: 1;
    transform: none;
}

body.active .popup{
    opacity: 1;
    visibility: visible;
}

body.active .popup-inside{
    border-radius: 0;
    box-shadow: -50px 0 200px -50px #504bff, 50px 0 200px -50px #4cfa63;
    
}

body.active .background{
    transform: scale(1);
}

body.active .background6{
    transform: scale(8);
}
.btn-shine{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 12px 48px;
  color: #ffffff;
  background: linear-gradient(to right, #4d4d4d 0, rgb(184, 184, 184) 10%, #4d4d4d 20%);
  background-position: 0;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 4s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 60px;
  text-decoration: none;
  white-space: nowrap;
}
@keyframes shine{
  0%
    {background-position: 0}
  60%
    {background-position: 1000px}
  100%
    {background-position: 1000px}
}

.animated-border-box-glow{
    max-height: 200px;
    max-width: 2500px;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden; 
    z-index: 0;
    /* Border Radius */
      border-radius: 10px; }
      .animated-border-box-glow{
        overflow: hidden;
        /* Glow Blur */
        filter: blur(200px);
      }
      
      .animated-border-box:before, .animated-border-box-glow:before {
        content: '';
        z-index: -2;
        text-align: center;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(0deg);
        position: absolute;
          width: 99999px;
          height: 99999px;
          background-repeat: no-repeat;
          background-position: 0 0;
        /*border color, change middle color*/
          background-image: conic-gradient(rgba(0,0,0,0), #1976ed, rgba(0,0,0,0) 20%);
        /* change speed here */
          animation: rotate 4s linear infinite;
      }
      
      .animated-border-box:after {
          content: '';
          position: absolute;
          z-index: -1;
        /* border width */
          left: 5px;
          top: 5px;
        /* double the px from the border width left */
          width: calc(100% - 10px);
          height: calc(100% - 10px);
        /*bg color*/
          background: #292a2e;
        /*box border radius*/
          border-radius: 7px;
      }
      
      @keyframes rotate {
          100% {
              transform: translate(-50%, -50%) rotate(1turn);
          }
      }
      
